.fgg5 #idtop {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(//sudakm.com/yspan/img/bg1.png);
}

#menuList .ml {
    font-size: 15px !important;
}
#menuList .ml {
    text-shadow: rgb(0, 0, 0) 0px 0px 4px, rgb(0, 0, 0) 0px 0px 3px, rgb(0, 0, 0) 0px 0px 2px, rgb(0, 0, 0) 0px 0px 1px;
    color: rgb(255, 255, 255) !important;
}

#menuList li.gml img.bjtb, a.ml, #menuList li.gml label {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    padding: 3px;
}
